Testbench/data/flows.json
[
    {
        "id": "44b233f4.645aec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a95c4150.55031",
        "type": "infor-m3-config",
        "z": "",
        "name": "M3 Test Instance"
    },
    {
        "id": "c844cd09.f0dc5",
        "type": "dolittle-runtime-config",
        "z": "",
        "name": "",
        "microservice": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
        "host": "localhost",
        "port": "50053"
    },
    {
        "id": "fccc879f.327af8",
        "type": "infor-m3-bulk",
        "z": "44b233f4.645aec",
        "name": "Get Initial product",
        "server": "a95c4150.55031",
        "program": "PDS002MI",
        "transaction": "LstComponent",
        "maxrecords": "0",
        "maxbulk": "1",
        "maxparallel": "10",
        "columns": [
            "MTPL",
            "ITNO"
        ],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5fdf1785.03b688"
            ],
            [
                "d6af56ba.b00d18"
            ]
        ]
    },
    {
        "id": "d6af56ba.b00d18",
        "type": "debug",
        "z": "44b233f4.645aec",
        "name": "RESULT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 960,
        "y": 180,
        "wires": []
    },
    {
        "id": "e899f620.0d60a8",
        "type": "inject",
        "z": "44b233f4.645aec",
        "name": "",
        "topic": "",
        "payload": "[{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "fccc879f.327af8"
            ]
        ]
    },
    {
        "id": "5fdf1785.03b688",
        "type": "debug",
        "z": "44b233f4.645aec",
        "name": "PROGRESS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "87482a25.a1fa98",
        "type": "event-store",
        "z": "44b233f4.645aec",
        "server": "c844cd09.f0dc5",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "9d0fc9c7.a27238"
            ]
        ]
    },
    {
        "id": "813e9642.294128",
        "type": "inject",
        "z": "44b233f4.645aec",
        "name": "",
        "topic": "",
        "payload": "{\"artifact\":\"7a6155dd-9109-4488-8f6f-c57fe4b65bfb\",\"eventSourceId\":\"7a6155dd-9109-4488-8f6f-c57fe4b65bfb\",\"content\":{\"anInt\":42,\"aString\":\"hello world\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "3abb1b27.1f4ed4"
            ]
        ]
    },
    {
        "id": "3abb1b27.1f4ed4",
        "type": "change",
        "z": "44b233f4.645aec",
        "name": "Set ExecutionContext",
        "rules": [
            {
                "t": "set",
                "p": "executionContext.tenantId",
                "pt": "msg",
                "to": "c59abefd-f72a-4684-ad7f-dfdd2c466fec",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "87482a25.a1fa98"
            ]
        ]
    },
    {
        "id": "9d0fc9c7.a27238",
        "type": "debug",
        "z": "44b233f4.645aec",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "3bfd016f.13fcce",
        "type": "inject",
        "z": "44b233f4.645aec",
        "name": "",
        "topic": "",
        "payload": "{\"eventSourceId\":\"7a6155dd-9109-4488-8f6f-c57fe4b65bfb\",\"content\":{\"anInt\":42,\"aString\":\"hello world\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "3abb1b27.1f4ed4"
            ]
        ]
    }
]