Testbench/data/flows.json
[
    {
        "id": "44b233f4.645aec",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a95c4150.55031",
        "type": "infor-m3-config",
        "z": "",
        "name": "M3 Test Instance"
    },
    {
        "id": "fccc879f.327af8",
        "type": "infor-m3-bulk",
        "z": "44b233f4.645aec",
        "name": "Get Initial product",
        "server": "a95c4150.55031",
        "program": "PDS002MI",
        "transaction": "LstComponent",
        "maxrecords": "0",
        "maxbulk": "100",
        "maxparallel": "1",
        "columns": [
            "MTPL",
            "ITNO"
        ],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "5fdf1785.03b688"
            ],
            [
                "d6af56ba.b00d18"
            ]
        ]
    },
    {
        "id": "d6af56ba.b00d18",
        "type": "debug",
        "z": "44b233f4.645aec",
        "name": "RESULT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "e899f620.0d60a8",
        "type": "inject",
        "z": "44b233f4.645aec",
        "name": "",
        "topic": "",
        "payload": "[{\"record\":{\"PRNO\":\"6004\",\"FACI\":\"100\",\"STRT\":\"STD\"}},{\"record\":{\"PRNO\":\"9510\",\"FACI\":\"100\",\"STRT\":\"STD\"}}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "fccc879f.327af8"
            ]
        ]
    },
    {
        "id": "5fdf1785.03b688",
        "type": "debug",
        "z": "44b233f4.645aec",
        "name": "PROGRESS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 80,
        "wires": []
    }
]